.linksRouter {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.225rem;
}

.linksRouter li {
    position: relative;
    color: #111;
    list-style: none;
    cursor: pointer;
}

.linkItem {
    position: relative;
    padding-bottom: 2px;
    transition: color 0.3s ease-in-out;
}

.linkItem::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--d-teal);
    transition: width 0.3s ease-in-out;
}

.linkItem:hover {
    color: var(--d-teal);
}

.linkItem:hover::before {
    width: 100%;
}

.activeLink {
    color: var(--d-teal);
    font-weight: bold;
}

#scrollView {
    width: 0px;
    animation: scrollView linear forwards;
    animation-timeline: scroll();
    border-end-end-radius: 10pc;
    background:var(--d-teal);
}

@keyframes scrollView {
    0% {
        width: 0px;
    }
    
    100% {
        width: 100%;
    }
}