@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';

/*? icons => https://remixicon.com/ */

body,
html {
  overflow-x: hidden;
  width: 100vw;
}

:root {
  --d-teal: #1d8178;
  /* Dark Teal */

  --p-navy: #1D1134;
  /* Purple Navy */

  --l-mist: #E5E3F4;
  /* Lavender Mist */

}