@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';

/*? icons => https://remixicon.com/ */

body,
html {
  overflow-x: hidden;
  width: 100vw;
}

::selection {
  color:var(--l-mist);
  background: var(--d-teal);
}

:root {
  --d-teal: #1d8178;

  --p-navy: #1D1134;

  --l-mist: #E5E3F4;
}